.navbar {
  font-family: 'Alegreya Sans';
  font-weight: 400;
  font-size: 20px;
}

.jumbotron {
  height: 300px;
  font-family: 'Alegreya Sans';
  color: white;
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../assets/speak.png");*/
  background-color: #212121;
  padding-top: 100px;
}

.footer {
   background-color: rgb(170,0,0);
   height: 50px;
}


